<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Seven"
    Manufacturer="Gabriel Barcelos"
    Version="$(var.SevenVersion)"
    UpgradeCode="{8C5B4B53-8F50-4C87-9B68-2B4D8F4FE2D1}"
    Scope="perMachine"
    Language="1033"
    Codepage="65001">

    <SummaryInformation
      Description="Seven programming language"
      Manufacturer="Gabriel Barcelos" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Seven is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="SevenIcon" SourceFile="$(var.SevenIcon)" />
    <Property Id="ARPPRODUCTICON" Value="SevenIcon" />
    <Property Id="ARPHELPLINK" Value="https://github.com/gabriell211/Seven/issues" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/gabriell211/Seven" />
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/gabriell211/Seven/releases" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Seven" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="SevenProgramMenuFolder" Name="Seven" />
    </StandardDirectory>

    <ComponentGroup Id="SevenPayload" Directory="INSTALLFOLDER">
      <Files Include="$(var.PayloadRoot)\**" />
    </ComponentGroup>

    <ComponentGroup Id="SevenIntegration" Directory="INSTALLFOLDER">
      <Component Id="SevenUserRegistration" Guid="{91CF14D5-12BD-413B-91A2-7B06D73E26CC}">
        <RegistryValue Root="HKLM" Key="Software\Seven" Name="InstallDir" Value="[INSTALLFOLDER]" Type="string" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="Software\Seven" Name="Version" Value="$(var.SevenVersion)" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\.sev" Value="Seven.Source" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\.sev" Name="Content Type" Value="text/x-seven" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Seven.Source" Value="Seven source file" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Seven.Source\DefaultIcon" Value="[INSTALLFOLDER]share\seven.ico" Type="string" />
        <RegistryValue Root="HKLM" Key="Software\Classes\Seven.Source\shell\open\command" Value="&quot;[INSTALLFOLDER]bin\seven.exe&quot; &quot;%1&quot;" Type="string" />
        <Environment Id="SevenMachinePath" Name="PATH" Value="[INSTALLFOLDER]bin" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="SevenShortcuts" Directory="SevenProgramMenuFolder">
      <Component Id="SevenStartMenuShortcut" Guid="{51D570B7-12D5-4C71-AE22-E7BE68136152}">
        <Shortcut
          Id="SevenCliShortcut"
          Name="Seven"
          Description="Open the Seven compiler"
          Target="[INSTALLFOLDER]bin\seven.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="SevenIcon" />
        <RemoveFolder Id="RemoveSevenProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Seven" Name="StartMenuShortcut" Value="1" Type="integer" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="MainFeature" Title="Seven" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="SevenPayload" />
      <ComponentGroupRef Id="SevenIntegration" />
      <ComponentGroupRef Id="SevenShortcuts" />
    </Feature>
  </Package>
</Wix>
